/* Fonts */
@font-face {
    font-family: CabinSketch;
    src: url(fonts/CabinSketch-Bold.ttf);
}

/* Basisstijlen (mobile-first) */
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

a:visited {
    color: inherit;
}

address {
    text-decoration: none;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFD747;
    color: #fff;
}

header {
    background-color: #EA4E1B;
    padding: 15px 0;
    border-bottom: 7px solid #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav img {
    max-width: 70px;
    height: auto;
}

hr {
    width: 100%;
    color: #fff;
}

.navbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbuttons a {
    color: #fff;
    background-color: #7f290c;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;
    font-weight: bold;
}

.navbuttons a:hover {
    background-color: #411303;
}

.menu-toggle {
    display: block;
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.navlinks {
    display: none;
    flex-direction: column;
    background-color: #EA4E1B;
    position: absolute;
    top: 133px;
    left: 0;
    right: 0;
    padding: 20px;
}

.navlinks.active {
    display: flex;
}

.navlinks a {
    margin-bottom: 10px;
}

/* Content */
.home {
    width: 95%;
    max-width: 2500px;
    margin: 40px auto;
    background-color: #FFD747;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.hero-content { 
    margin: 0 auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.autoimg {
    width: 100%;
    margin-top: 10px;
    animation: slideIn 1.8s ease-out forwards;
}

/* Keyframe animatie voor autoimg */
@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.welkomtxt {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.welkomtxt p {
    font-size: 1.1rem;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.welkomtxt h1 {
    font-size: 3rem;
    white-space: nowrap;
    max-width: 100%;
    width: fit-content;
}

.welkomtxt h1:last-child {
    font-size: 4.8rem;
    white-space: nowrap;
    max-width: 100%;
    width: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

.welkomtxt p i {
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    font-size: 1rem;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
}

.maininfo article {
    margin-top: 15px;
}

.orange {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.maininfo {
    width: 100%;
}

.maininfo article .orange {
    font-size: 2.2rem;
    color: #EA4E1B;
    font-weight: 900;
}

.zwarteteksthome {
    font-size: 1.4rem;
    color: #000;
}

.vragensection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #EA4E1B;
    padding: 25px;
    font-size: 1.1rem;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vragensection h2 {
    font-size: 1.8rem;
    font-weight: 900;
    font-style: normal;
}

.bestelsectionhome , .menusectionhome {
    width: 100%;
    background-image: url('../img/bestelfoto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.bestelsectiontekst {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bestelsectiontekst h2 {
    font-size: 1.8rem;
    font-weight: 900;
}

.bestelsectiontekst p {
    font-size: 1rem;
    font-weight: normal;
}

.naastafbeelding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.naastafbeelding a {
    width: fit-content;
    margin-top: 15px;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 900;
    background-color: #FFD747;
    font-family: Arial, Helvetica, sans-serif;
}

.naastafbeelding a:hover {
    background-color: #d1a813;
}

.bestelsectionhome img {
    display: none !important;
}

.socialemedia, .nieuwsbrief {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.socialemedia article, .nieuwsbrief article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socialemedia article div {
    display: flex;
    gap: 30px;
}

.socialemedia a {
    color: #FFD747;
    font-size: 6rem;
    
}

.socialemedia a:last-of-type {
    color: #EA4E1B;
}

.socialemedia article p {
    color: #FFD747;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 4px;
}

.socialemedia img {
    width: 100%;
}

.menusectionhome {
    justify-content: center;
    align-items: center;
    background-image: none;
    background-color: #FFD747;
}

.menusectionhome article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
}

.menusectionhome article img {
    width: 60%;
}

.naastafbeelding .buttoncontainer {
    display: flex;
    margin-bottom: 25px;
}

.naastafbeelding .greyorderbutton {
    background-color: #3D3D3C;
    margin-right: 15px;
}

.naastafbeelding .greyorderbutton:hover {
    background-color: #000;
}

.naastafbeelding .orangemenubutton {
    background-color: #EA4E1B;
}

.naastafbeelding .orangemenubutton:hover {
    background-color: #7f290c;
}

.nieuwsbrief {
    background-color: #3D3D3C;
    flex-direction: row;
    border-bottom: 7px solid #fff;
}

.nieuwsbrief article {
    align-items: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nieuwsbrief article h2 {
    font-size: 1rem;
    font-weight: 900;
}

.nieuwsbrief article p {
    font-size: 0.6rem;
}

.nieuwsbrief input {
    text-align: center;
    width: 30%;
    height: 100%;
}

/* Footer Stuff */
footer {
    background-color: #EA4E1B;
    color: #fff;
    padding: 20px 0;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;
    gap: 25px;
}

.footer-content article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ideeenbox {
    margin-bottom: 35px;
}

.ideeenbox p {
    font-size: 1rem;
    text-align: center;
}

.ideeenbox p:last-child {
    font-weight: 900;
}

.ideeenbox img {
    width: 70%;
    margin: 30px 0;
}

.footer-content article .painttxt {
    width: 90%;
    font-size: 1.3rem;
    font-family: CabinSketch;
}

.footer-content .footerdata {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footerdataleft, .footerdataright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerdatatxt {
    width: 100%;
}

.footerdatatxt:first-child {
    text-align: right;
}

.footerdata img {
    display: none;
}

.footer-content .footersocials {
    display: none;
}

.footer-content .footerphone {
    font-size: 1.15rem;
    font-weight: 900;
}

.footerdataleft {
    justify-content: start;
}

.footerdataright {
    justify-content: end;
}

/* Responsive voor grotere schermen */
@media (min-width: 800px) {
    hr {
        width: 55%;
    }

    nav {
        padding: 0 20px;
    }

    .menu-toggle {
        display: none;
    }

    .navlinks {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
        padding: 0;
    }

    .navlinks a {
        margin: 0 5px;
    }

    .navbuttons {
        flex-direction: row;
        align-items: center;
        margin-top: 0;
    }

    .navbuttons a {
        margin: 0 5px;
    }

    .navbuttons a:last-child {
        margin-bottom: 0;
    }

    nav img {
        max-width: 50px; /* LOGO DESKTOP */
    }

    .welkomtxt h1 {
        font-size: 4.95rem;
    }
    
    .welkomtxt h1:last-child {
        font-size: 7.5rem;
    }

    .maininfo article .orange {
        font-size: 3.5rem;
    }

    .autoimg {
        width: 40%;
    }

    .vragensection {
        font-size: 1.45rem;
        flex-direction: row;
        gap: 20px;
    }
    
    .vragensection h2 {
        font-size: 2.6rem;
    }

    .socialemedia img {
        width: 60%;
    }

    .menusectionhome article img {
        width: 40%;
        max-width: 500px;
    }

    .footer-content article .painttxt {
        width: 55%;
        font-size: 1.6rem;
    }

    .footerdatatxt {
        width: 45%;
    }
}

@media (min-width: 1200px) {
    .home {
        flex-direction: row;
    }

    .welkomtxt {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-top: 10px;
    }

    .hero-content {
        justify-content: start;
        align-items: start;
    }

    .welkomtxt h1 {
        font-size: 5.95rem;
        white-space: nowrap;
        max-width: 100%;
    }
    
    .welkomtxt h1:last-child {
        font-size: 9.45rem;
    }

    .maininfo article .orange {
        font-size: 3.2rem;
    }
    
    .bestelsectiontekst h2 {
        font-size: 3.25rem;
    }

    .bestelsectiontekst p {
        font-size: 1.6rem;
    }
    
    .bestelsectiontekst {
        margin-top: 5%;
    }

    .naastafbeelding {
        width: 50%;
    }
    
    .naastafbeelding a {
        font-size: 2.1rem;
    }

    .bestelsectionhome {
        padding: 0;
    }

    .bestelsectionhome article {
        display: flex;
        margin: 200px 0;
        margin-left: 10%;
    }
    
    .bestelsectionhome article img {
        display: flex !important;
        width: 5%;
        height: 20%;
        transform: rotate(-30deg);
        margin-top: 1%;
        margin-right: 5px;
    }

    .socialemedia, .nieuwsbrief{
        flex-direction: row;
        padding: 80px;
    }
    
    .socialemedia article div {
        gap: 40px;
    }
    
    .socialemedia a {
        color: #FFD747;
        font-size: 9rem;
        
    }
    
    .socialemedia a:last-of-type {
        color: #EA4E1B;
    }
    
    .socialemedia article p {
        font-size: 1.6rem;
    }

    .socialemedia img {
        width: 45%;
        max-width: 1000px;
    }

    .menusectionhome article {
        flex-direction: row;
        text-align: left;
        gap: 45px;
        margin: 100px 0;
    }

    .nieuwsbrief{
        padding: 30px;
    }

    .nieuwsbrief article h2 {
        font-size: 1.95rem;
    }
    
    .nieuwsbrief article p {
        font-size: 1.2rem;
    }
    
    .nieuwsbrief input {
        width: 30%;
        height: 60%;
    }
    
    .ideeenbox p {
        font-size: 1.55rem;
        width: 65%;
    }

    .footer-content article .painttxt {
        width: 35%;
        font-size: 2rem;
    }

    .footer-content .footerdata {
        width: 50%;
        justify-content: space-between;
    }

    .footerdataleft, .footerdataright {
        width: 45%;
        flex-direction: row;
        gap: 20px;
    }

    .footerdata img {
        display: flex;
        width: 15%;
    }

    .footer-content .footersocials {
        display: flex;
        width: fit-content;
        font-size: 2.8rem;
        flex-direction: row;
        gap: 10px;
    }
}