/* Kleuren */
:root {
    --color-white: #fff;
    --color-black: #000;
    --color-yellow: #FFD747;
    --color-orange: #EA4E1B;
    --color-grey: #3D3D3C;
    --color-dark-grey: #7f290c;
    --color-hover-yellow: #d1a813;
}

/* Fonts */
@font-face {
    font-family: CabinSketch;
    src: url(fonts/CabinSketch-Bold.ttf);
}

/* Utility classes */
.flex { display: flex; }

.flexbox-row { flex-direction: row; }

.flexbox-column { flex-direction: column; }

.flexbox-justify-center { justify-content: center; }

.flexbox-justify-between { justify-content: space-between; }

.flexbox-justify-evenly { justify-content: space-evenly; }

.flexbox-justify-around { justify-content: space-around; }

.flexbox-justify-start { justify-content: flex-start; }

.flexbox-justify-end { justify-content: flex-end; }

.flexbox-align-start { align-items: flex-start; }

.flexbox-align-center { align-items: center; }

.flexbox-align-end { align-items: flex-end; }

.flexbox-center-center {
    justify-content: center;
    align-items: center;
}

.flexbox-between-center {
    justify-content: space-between;
    align-items: center;
}

.flexbox-evenly-center {
    justify-content: space-evenly;
    align-items: center;
}

.flexbox-around-center {
    justify-content: space-around;
    align-items: center;
}

/* Basisstijlen (mobile-first) */
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--color-white);
    transition: 0.5s;
}

a:visited {
    color: inherit;
}

address {
    text-decoration: none;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-yellow);
    color: var(--color-white);
}

header {
    padding: 0.9rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
}

nav img {
    max-width: 4.4rem;
    height: auto;
}

hr {
    width: 100%;
    color: var(--color-white);
}

.navbuttons a {
    color: var(--color-white);
    font-size: 1.4rem;
    border-radius: 0.3rem;
    padding: 0.6rem 1.25rem;
    margin: 0.3rem 0;
    font-weight: 600;
}

.navbuttons a:hover {
    color: var(--color-orange);
}

.navbuttons a:last-of-type {
    padding-right: 0;
}

#navselected {
    color: var(--color-orange);
}

.menu-toggle {
    display: block;
    cursor: pointer;
}

.bar {
    width: 2.2rem;
    height: 0.3rem;
    background-color: var(--color-white);
    margin: 0.4rem 0;
    transition: 0.4s;
}

.navlinks {
    display: none;
    flex-direction: column;
    background-color: var(--color-grey);
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    padding: 1.25rem;
    animation: forwards rollOut 0.5s ease-out;
}

.navlinks.active {
    display: flex;
}

@keyframes rollOut {
    0% {
        opacity: 0;
        transform: translateY(-1.25rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navlinks a {
    margin-bottom: 0.6rem;
}

/* Content */
.home {
    width: 95%;
    max-width: 2500px;
    margin: 2.5rem auto;
    background-color: var(--color-yellow);
}

.autoimg {
    width: 100%;
    margin-top: 0.6rem;
    animation: slideIn 1.8s ease-out forwards;
}

/* Keyframe animatie voor autoimg */
@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.welkomtxt {
    margin-top: 0.6rem;
}

.welkomtxt p {
    font-size: 1.1rem;
    color: var(--color-black);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.welkomtxt h1 {
    font-size: 3rem;
    white-space: nowrap;
    max-width: 100%;
    width: fit-content;
}

.welkomtxt h1:last-child {
    font-size: 4.8rem;
    white-space: nowrap;
    max-width: 100%;
    width: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

.welkomtxt p i {
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 50%;
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    text-align: center;
    line-height: 1.5rem;
}

.maininfo article {
    margin-top: 0.9rem;
}

.maininfo h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.2rem;
    color: var(--color-orange);
    font-weight: 900;
}

.maininfo {
    width: 100%;
}

.maininfo address, .maininfo p {
    font-size: 1.4rem;
    color: var(--color-black);
}

.vragensection {
    width: 100%;
    text-align: center;
    background-color: var(--color-orange);
    padding: 1.5rem;
    font-size: 1.1rem;
    border-top: 0.25rem solid var(--color-white);
    border-bottom: 0.25rem solid var(--color-white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vragensection h2, .bestelsectiontekst h2 {
    font-size: 1.8rem;
    font-weight: 900;
    font-style: normal;
}

.bestelsectionhome, .menuenbestellen {
    width: 100%;
    background-image: url('../img/bestelfoto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.25rem;
}

.bestelsectiontekst {
    color: var(--color-white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bestelsectiontekst p {
    font-size: 1rem;
    font-weight: normal;
}

.bestelsectiontekstdark {
    color: var(--color-black);
}

.naastafbeelding a {
    width: fit-content;
    margin-top: 0.9rem;
    padding: 0.6rem;
    font-size: 1.4rem;
    font-weight: 900;
    background-color: var(--color-yellow);
    font-family: Arial, Helvetica, sans-serif;
}

.naastafbeelding a:hover {
    background-color: var(--color-hover-yellow);
}

.bestelsectionhome img {
    display: none !important;
}

.socialemedia, .nieuwsbrief, .allergie {
    background-color: var(--color-white);
    padding: 1.9rem;
}

.socialemedia .socialemediasection div {
    gap: 1.5rem;
}

.socialemedia a {
    color: var(--color-yellow);
    font-size: 6rem;
    
}

.socialemedia a:last-of-type {
    color: var(--color-orange);
}

.socialemedia .socialemediasection p {
    color: var(--color-yellow);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.25rem;
}

.socialemedia img {
    width: 100%;
}

.menuenbestellen {
    justify-content: center;
    align-items: center;
    background-image: none;
    background-color: var(--color-yellow);
}

.menuenbestellen .menuenbestellensection {
    flex-direction: column-reverse;
    text-align: center;
}

.menuenbestellen .menuenbestellensection img {
    width: 60%;
}

.naastafbeelding .buttoncontainer {
    margin-bottom: 1.5rem;
}

.naastafbeelding .greyorderbutton {
    background-color: var(--color-grey);
    margin-right: 0.9rem;
}

.naastafbeelding .greyorderbutton:hover {
    background-color: var(--color-black);
}

.naastafbeelding .orangemenubutton {
    background-color: var(--color-orange);
}

.naastafbeelding .orangemenubutton:hover {
    background-color: var(--color-dark-grey);
}

.nieuwsbrief, .allergie {
    background-color: var(--color-grey);
    flex-direction: row;
    border-bottom: 0.4rem solid var(--color-white);
}

.nieuwsbrief div {
    align-items: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nieuwsbrief div h2 {
    font-size: 1rem;
    font-weight: 900;
}

.nieuwsbrief div p {
    font-size: 0.6rem;
}

.nieuwsbrief input {
    text-align: center;
    width: 30%;
    height: 100%;
}

/* Menu pagina */
.menutxt {
    text-align: center;
}

.menutxt h1 {
    font-size: 4rem;
}

.menutxt p {
    font-size: 1.4rem;
    color: var(--color-black);
}

.products {
    margin: 1rem 0;
    gap: 1.3rem;
}

.products article {
    width: 80%;
    background-color: var(--color-orange);
    border-radius: 1rem;
    border: #fff solid 0.25rem;
    -webkit-box-shadow: 15px 15px 17px 0px rgba(219,159,7,0.38);
    -moz-box-shadow: 15px 15px 17px 0px rgba(219,159,7,0.38);
    box-shadow: 15px 15px 17px 0px rgba(219,159,7,0.38);
}

.products article:hover {
    transform: scale(1.03);
    transition: 0.25s;
}

.products article div {
    padding: 0.75rem;
}

.products article h3 {
    font-size: 1.5rem;
}

.products article p {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.products article .price {
    font-weight: 700;
    font-size: 1.2rem;
}

.productimg {
    width: 100%;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

/* Footer Stuff */
footer {
    background-color: var(--color-orange);
    color: var(--color-white);
    padding: 1.25rem 0;
    margin-top: auto;
}

.footer-content {
    margin: 0 auto;
    padding: 0 1.25rem;
    gap: 1.5rem;
}

.ideeenbox {
    margin-bottom: 2.2rem;
}

.ideeenbox p {
    font-size: 1rem;
    text-align: center;
}

.ideeenbox p:last-child {
    font-weight: 900;
}

.ideeenbox img {
    width: 70%;
    margin: 1.9rem 0;
}

.footer-content article .painttxt {
    width: 90%;
    font-size: 1.3rem;
    font-family: CabinSketch;
}

.footer-content .footerdata {
    width: 100%;
    margin: 0 auto;
}

.footerdatatxt {
    width: 100%;
}

.footerdatatxt:first-child {
    text-align: right;
}

.footerdata img {
    display: none;
}

.footer-content .footersocials {
    display: none;
}

.footer-content .footerphone {
    font-size: 1.15rem;
    font-weight: 900;
}

/* Responsive voor grotere schermen */
@media (min-width: 800px) {
    hr {
        width: 55%;
    }

    nav {
        padding: 0 2.5rem;
    }

    .menu-toggle {
        display: none;
    }

    .navlinks {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
        padding: 0;
        animation: none;
    }

    .navlinks a {
        margin: 0 0.3rem;
    }

    .navbuttons {
        flex-direction: row;
        align-items: center;
        margin-top: 0;
    }

    .navbuttons a {
        margin: 0 0.3rem;
    }

    .navbuttons a:last-child {
        margin-bottom: 0;
    }

    nav img {
        max-width: 3rem; /* LOGO DESKTOP */
    }

    .welkomtxt h1 {
        font-size: 4.95rem;
    }
    
    .welkomtxt h1:last-child {
        font-size: 7.5rem;
    }

    .maininfo h2 {
        font-size: 3.5rem;
    }

    .autoimg {
        width: 40%;
    }

    .vragensection {
        font-size: 1.45rem;
        flex-direction: row;
        gap: 1.25rem;
    }
    
    .vragensection h2 {
        font-size: 2.6rem;
    }

    .socialemedia img {
        width: 60%;
    }

    .menuenbestellen .menuenbestellensection img {
        width: 40%;
        max-width: 500px;
    }

    .products {
        margin: 2rem 0;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .products article {
        width: 40%;
    }

    .footer-content article .painttxt {
        width: 55%;
        font-size: 1.6rem;
    }

    .footer-content .footerdata {
        width: 55%;
    }
}

@media (min-width: 1200px) {
    .home {
        flex-direction: row;
    }

    .welkomtxt {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-top: 0.6rem;
    }

    .hero-content {
        justify-content: start;
        align-items: start;
    }

    .welkomtxt h1 {
        font-size: 5.95rem;
        white-space: nowrap;
        max-width: 100%;
    }
    
    .welkomtxt h1:last-child {
        font-size: 9.45rem;
    }

    .maininfo h2, .bestelsectiontekst h2 {
        font-size: 3.2rem;
    }

    .bestelsectiontekst p, .socialemedia .socialemediasection p, .ideeenbox p {
        font-size: 1.6rem;
    }
    
    .bestelsectiontekst {
        margin-top: 5%;
    }

    .naastafbeelding {
        width: 50%;
    }
    
    .naastafbeelding a {
        font-size: 2.1rem;
    }

    .bestelsectionhome {
        padding: 0;
    }

    .bestelsectionhome .bestelsection {
        display: flex;
        margin: 12.5rem 0;
        margin-left: 10%;
    }
    
    .bestelsectionhome .bestelsection img {
        display: flex !important;
        width: 5%;
        height: 20%;
        transform: rotate(-30deg);
        margin-top: 1%;
        margin-right: 0.3rem;
    }

    .socialemedia, .nieuwsbrief {
        flex-direction: row;
        padding: 5rem;
    }
    
    .socialemedia .socialemediasection div {
        gap: 2.5rem;
    }
    
    .socialemedia a {
        color: var(--color-yellow);
        font-size: 9rem;
        
    }
    
    .socialemedia a:last-of-type {
        color: var(--color-orange);
    }

    .socialemedia img {
        width: 45%;
        max-width: 1000px;
    }

    .menuenbestellen .menuenbestellensection {
        flex-direction: row;
        text-align: left;
        gap: 2.8rem;
        margin: 6.25rem 0;
    }

    .nieuwsbrief{
        padding: 1.9rem;
    }

    .nieuwsbrief div h2 {
        font-size: 1.95rem;
    }
    
    .nieuwsbrief div p {
        font-size: 1.2rem;
    }
    
    .nieuwsbrief input {
        width: 30%;
        height: 60%;
    }
    
    .products {
        margin: 2rem 0;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .products article {
        width: 25%;
        max-width: 550px;
    }

    .products article h3 {
        font-size: 1.75rem;
    }
    
    .products article .price {
        font-size: 1.5rem;
    }

    .allergie {
        flex-direction: column;
        padding: 2rem;
    }

    .allergie h2 {
        font-size: 2rem;
    }

    .allergie p {
        font-size: 1.25rem;
    }

    .ideeenbox p {
        width: 65%;
    }

    .footer-content article .painttxt {
        width: 35%;
        font-size: 2rem;
    }

    .footerdataleft, .footerdataright {
        width: 45%;
        flex-direction: row;
        gap: 1.25rem;
    }

    .footerdata img {
        display: flex;
        width: 15%;
    }

    .footer-content .footersocials {
        display: flex;
        width: fit-content;
        font-size: 2.8rem;
        flex-direction: row;
        gap: 0.6rem;
    }
}